<div class="navbar">
  <div class="logo">
    <img src="/assets/logo.png" />
    <span>MeetSphere</span>
  </div>
  <div class="nav-btns">
    <% if(!currUser) {%>
    <form action="/user/signup" method="get">
      <button class="nav-btn btn">SignUp</button>
    </form>

    <form action="/user/login" method="get">
      <button class="nav-btn btn">Login</button>
    </form>
    <% } %> <% if (currUser){ %>
    <form action="/user/history" method="get">
      <button class="nav-btn btn">History</button>
    </form>

    <form action="/user/logout" method="post">
      <button class="nav-btn btn">Logout</button>
    </form>
    <% } %>
  </div>
</div>
