<% layout("/layouts/boilerplate.ejs") -%>

<body>
  <div class="error-container">
    <div class="error-box">
      <h2>Some error occured.</h2>
      <p><%= message %></p>
    </div>
  </div>
</body>
