<% layout("/layouts/boilerplate.ejs") -%>

<body>
  <div class="main">
    <%= logoutErrMsg %> <%= logoutSuccessMsg %> <% if(currUser){ %>
    <form action="/lobby" method="get">
      <button class="btn">VideoCall</button>
    </form>
    <% } %>
  </div>
</body>
