<% layout("/layouts/boilerplate.ejs") -%>

<body>
  <div class="landing_page">
    <div class="tagline">
      <div style="font-size: 2.8rem; font-weight: 700; color: black">
        Bring people together to interact anytime anywhere
      </div>
      <div
        style="
          font-size: 1.3rem;

          color: black;
          margin: 1rem 0 1rem 0;
        "
      >
        Revolutionary video calling app. With MeetSphere, you'll never leave
        your house again.
      </div>
      <a href="/user/signup">
        <button
          class="btn"
          style="height: 2.5rem; width: 8rem; font-size: 1.2rem"
        >
          Get Started
        </button>
      </a>
    </div>
    <div>
      <img src="assets/background.png" />
    </div>
  </div>
</body>
